<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="results">
        <h2>Submitted Information</h2>
        <h4>Name: <%= Result.name %></h4>
        <h4>Dojo Location: <%= Result.location %></h4>
        <h4>Favorite Language: <%= Result.language %></h4>
        <h4>Comment: <%= Result.comment %></h4>
    </div>
</body>
</html>